<div class="container page-main">
  <div class="row title">
    Airline Company
  </div>
  <div class="row search">
    <div class="col-md-12">
      <input #search (keyup)="0" class="form-control" placeholder="Search by destiny"> 
    </div>
  </div>
    
  <!-- regular accordion -->
  <accordion *ngFor="let flight of flights | filterByDestiny:search.value" [showArrows]="true" class="custom-accordion" primary>
    <accordion-group>
      <accordion-heading class="custom-accordion__title">
        <span>Voo {{ flight.id }}</span>
        <span class="separator"></span>
        <span class="place">{{ flight.origin }}</span>
        <span class="arrow"> → </span>
        <span class="place">{{ flight.destiny }}</span>
        <span class="separator"></span>
        <span class="datetime">{{ flight.start | date: 'dd/MM/yyyy - HH:mm'}}</span>
      </accordion-heading>

      <custom-content [flight]='flight'></custom-content>  
    </accordion-group>
  </accordion>
</div>